/* Importing Google Fonts - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4550a6;
}

:where(.config-container, .quiz-container, .result-container) {
  display: none;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.13);
}

.config-container {
  display: block;
  width: 415px;
  padding: 25px;
  text-align: center;
}

.config-container .config-title {
  font-size: 1.31rem;
}

.config-container .config-option {
  margin-top: 25px;
}

.config-option .option-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.config-option .category-options {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.config-option .question-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0 30px;
  justify-content: center;
}

.config-option button {
  padding: 12px;
  font-size: 0.938rem;
  font-weight: 500;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #9b8fff;
  transition: 0.3s ease;
}

.config-option button:hover,
.quiz-content .answer-option:hover {
  background: #6b7cfda2;
}

.question-options button {
  flex: 1 1 10%;
}

/* Highlight selected category or question */
.category-option.active,
.question-option.active {
  background-color: #b2bbfa;
  color: #2637b5;
  border: 1px solid #1f30b0;
  font-weight: 600;
}

.config-container .start-quiz-btn,
.quiz-footer .next-question-btn,
.result-container .try-again-btn {
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  font-weight: 500;
  background: #3d489e;
  padding: 13px 25px;
  font-size: 1rem;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.config-container .start-quiz-btn {
  margin-top: 30px;
}

.config-container .start-quiz-btn:hover,
.quiz-footer .next-question-btn:hover,
.result-container .try-again-btn:hover {
  background: #283281;
}

.quiz-container {
  width: 480px;
}

.quiz-container .quiz-header {
  display: flex;
  align-items: center;
  padding: 14px 25px;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.09);
}

.quiz-header .quiz-title {
  font-size: 1.43rem;
  font-weight: 700;
}

.quiz-header .quiz-timer {
  display: flex;
  width: 70px;
  color: #fff;
  align-items: center;
  gap: 5px;
  font-weight: 600;
  padding: 7px 9px;
  border-radius: 6px;
  background: #32313c;
  transition: 0.3s ease;
}

.quiz-header .quiz-timer span {
  font-size: 1.4rem;
}

.quiz-actions {
  display: flex;
  gap: 10px;
  align-items: center;
}

.exit-quiz-btn {
  background: #ff4d4f;
  color: white;
  padding: 7px 15px;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.exit-quiz-btn:hover {
  background: #cc0002;
}

.quiz-container .quiz-content {
  padding: 20px 25px 25px;
}

.quiz-content .question-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.quiz-content .answer-options {
  display: flex;
  gap: 15px;
  flex-direction: column;
  list-style: none;
  margin-top: 20px;
}

.quiz-content .answer-option {
  display: flex;
  align-items: center;
  padding: 13px 16px;
  background: #f3f1ff;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  justify-content: space-between;
  border: 1px solid #b5acff;
  transition: 0.3s ease;
}

.quiz-content .answer-option span {
  display: block;
  flex-shrink: 0;
  margin: -4px -3px -4px 12px;
}

.quiz-content .answer-option.correct {
  border-color: #8dc69b;
  background: #afe3bb;
  color: #155724;
}

.quiz-content .answer-option.incorrect {
  border-color: #f4bec3;
  background: #f6b7bc;
  color: #721c24;
}

.quiz-container .quiz-footer {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #c6c6c6;
}

.quiz-footer .question-status {
  font-weight: 500;
}

.quiz-footer .question-status strong,
.result-container .result-message strong {
  font-weight: 700;
}

.quiz-footer .next-question-btn {
  display: inline-flex;
  gap: 5px;
  visibility: hidden;
  align-items: center;
  padding: 9px 17px;
}

.result-container {
  /* display: block; */
  text-align: center;
  padding: 40px;
  width: 410px;
}

.result-container .result-img {
  width: 110px;
}

.result-container .result-title {
  margin-top: 30px;
}

.result-container .result-message {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 15px;
}

.result-container .try-again-btn {
  margin-top: 30px;
  padding: 12px 20px;
}

/* Media query code for mobile screens */
@media (max-width: 624px) {
  .config-container,
  .quiz-container .quiz-content {
    padding: 20px;
  }

  .quiz-content .answer-option {
    padding: 12px 10px 12px 14px;
  }

  .config-container .question-options {
    padding: 0 15px;
  }

  .quiz-container .quiz-header,
  .quiz-container .quiz-footer {
    padding: 13px 20px;
  }

  .quiz-header .quiz-title,
  .quiz-content .question-text {
    font-size: 1.3rem;
  }

  .result-container {
    padding: 40px 20px;
  }

  .result-container .result-title {
    font-size: 1.4rem;
  }
}
